* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Common*/

.row { 
    margin-right: -8px;
    margin-bottom: -8px;
}

.row:after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important
}
.mt-16{
    margin-top: 16px !important
}

.mb-16 {
    margin-bottom: 16px !important;
}

.ml-8 {
    margin-left: -8px;
}

.col {
    float: left;
    padding: 0px 8px;
}

.col-full {
    width: 100%;
}
.col-three {
    width: 33.333333%;
}

.col-two {
    width: 50%;
}

.text-center {
    text-align: center !important
}

.right-float {
    float: right;
}

.btn {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 18px;
    display: inline-block;
    border: none;
    text-align: center;
    -webkit-appearance: none;
}

.btn:hover{
    background-color: #ccc;
    color: black;
    cursor: pointer;

}
/* 
Outside to inside
Top to bottom
Overall to detail*/

html{
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
#header{
    height: 46px;
    background-color: black;
    position:fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 1;
}

.clear {
    clear: both;
}

.text-white {
    color: white !important;
}

.margin-left {
    margin-left: 16px !important;
}

#header .menu-mobile-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .menu-mobile-btn,
#header .search-button {
    float: right;
    padding: 0 23px;
    position: absolute;
    top: 0;
    right: 0;
}

#header .mobile-search-icon,
#header .search-icon {
    color: white;
    line-height: 46px;
    font-size: 20px;
}

#header .menu-mobile-btn:hover {
    background-color: #ccc;
}

#header .menu-mobile-btn:hover .mobile-search-icon {
    color: black;
}

#header .search-button:hover {
    cursor: pointer;
    background-color: red;
}

/* #nav {
    position: absolute;
} */


#nav li {
    color: white;
    display: inline-block;
    position: relative;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li > a{
    text-transform: uppercase;
}

#nav li a {
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a {
    background-color: #ccc;
    color: black;
}

.subnav > li:hover > a {
    background-color: #ccc;
}

#nav .subnav a{
    padding: 0 12px;
    display: block;
}


#nav .subnav {
    display: none;
    top: 100%;
    left: 0px;
    position: absolute;
    background-color: white;
    box-shadow:0 0 10px rgba(0, 0,0, 0.3)
}

#nav .subnav li{
    width: 100%;
}

#nav .subnav a{
    color: black;
}

#nav .nav-arrow-down {
    font-size: 12px;
    margin: 0 5px;
}

#nav .search-button{
    font-size: 14;
    display: block;

}


#slider{
/* min-height: 500px;
background-color: #333; */
    background: url('https://krishuynh2707.github.io/theband/Assets/images/slider1.jpg') top center / cover no-repeat;
    margin-top: 46px;
    padding-top: 50%;
    position: relative;

}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: white;
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 400px;
    font-size: 24px;

}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;

}


#content .text-content {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .text-content .text-heading {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 10px 0px;
    text-align: center;


}

#content .text-content .text-opacity {
    opacity: 0.60;
    margin: 15px 0px;
    text-align: center;
    font-style: italic;
}

#content .text-content .text-description {
    text-align: justify;
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.4;
}
#content .text-content .member-list {

    margin-top: 48px;
    overflow: hidden;

}
#content .member-item{
    text-align: center;
}
#content .member-item .member-name{
    font-size: 15px;

}

#content .member-image {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/*Tour section*/
.tour-section {
    background-color: black;
}

.ticket-list {
    background-color: white;
    margin-top: 30px;
}
.ticket-list li {
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;
}

.ticket-list .sold-out {
    background-color: #f44336 !important;
    color: white;
    padding: 3px 4px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    color: white;
    background: black;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;

}
/*Tour places*/
.tour-places {
    margin-top: 32px;
    margin-left: -8px;
}


.tour-place-infor {
    background-color: white;
    padding: 16px 16px;
    font-size: 15px;
}

.tour-place-name {
    font-weight: 500px;
    font-size: 15px;
}
.tour-place-date {
    margin-top: 15px;
}
.tour-place-description{
    margin-top: 15px;
    line-height: 1.4;
}

.tour-place-image {
    width: 100%;
    display: block;
}
.tour-place-image:hover{
    opacity: 0.6;
}

.text-content .contact .text-contact {
    display: block;
}

.contact-content {
    margin-top: 32px;
}

.contact-infor {
    font-size: 18px;
    line-height: 1.6;
}

.contact-infor a {
    color: #101aef;
    opacity: 0.8;
}

.contact-infor a:hover {
    opacity: 1;
}

.contact-infor-icon {
    width: 30px;
    display: inline-block;
}

.submission-form {
    font-size: 15px;
}

.contact-content .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

/* .form-send:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
}

.form-send {
    font-size: 15px;
    margin: 16px 0px;
    padding: 8px 16px;
    background-color: black;
    color: #fff;
    border: 1px solid #000;
    float: right;
} */

/*Map section*/

.map-section img {
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0,0, 0.6);
    text-decoration: none;
}
#footer .copy-right a:hover,
#footer a:hover {
    color: rgba(0, 0,0, 0.4);
}


#footer .copy-right{
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgba(0, 0,0, 0.6);
}

#footer .copy-right a {

    color:rgba(0, 0,0, 0.6)
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.6s;
}

.modal-close {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 15px 10px;
    color: white;
    opacity: 0.9;
}

.modal-close:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
    opacity: 1;

}
.modal-heading {
    height: 130px;
    background-color: #009688;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    letter-spacing: 5px;
}

.modal-heading-icon {
margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
}
.modal-input-text {
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px 8px 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;

}

#buy-tickets {
    width: 100%;
    background-color: #009688;
    padding: 16px;
    margin: 16px 0px;
    font-size: 15px;
    color: white;
    border: none;
    text-transform: uppercase;
}

#buy-tickets:hover{
    cursor: pointer;
    background-color: #ccc;
    color: black;

}

.modal-help {
    float: right;
    padding-bottom: 20px;
    margin-bottom: 15px;
    margin-right: 16px;
    font-size: 15px;
}

.modal-help a{
    color: #2196F3;
}

@keyframes modalFadeIn {
    
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}